body {
    background-image: url('/images/background_reservations.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif; 
    font-size: 2.5em;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reservation-form label {
    font-size: 1.1em;
    color: #444;
    font-family: 'Playfair Display', serif; 
}

.reservation-form input[type="text"],
.reservation-form input[type="date"],
.reservation-form input[type="time"],
.reservation-form input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.reservation-form button {
    padding: 12px;
    background-color: #8b3503;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-form button:hover {
    background-color: #bb7338;
}

.reservations-list {
    margin-top: 40px;
}

.reservation-item {
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-item p {
    margin: 5px 0;
    font-size: 1.1em;
}

.reservation-item button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #562b69;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-item button:hover {
    background-color: #784a83;
}

.form-delete button {
    padding: 8px 15px;
    background-color: #581913;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.form-delete button:hover {
    background-color: #d32f2f;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-form label {
    font-size: 1.1em;
    color: #444;
}

.order-form input[type="text"],
.order-form input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.order-form button {
    padding: 12px;
    background-color: #945c09;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.order-form button:hover {
    background-color: #b48734;
}

.btn {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #57066b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #a361c2;
}

.btn-order {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #630c79;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn-order:hover {
    background-color: #954dbe;
}

.btn-cancel {
    display: inline-block;
    padding: 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.btn-cancel:hover {
    background-color: #b71c1c;
}

.logged-in-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.logged-in-user span {
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
    color: #4d0e4d;
}

.logged-in-user a {
    font-size: 1.1em;
    color: #4d0e4d;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #6c3274;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logged-in-user a:hover {
    background-color: #b249c0;
}